<main class="w-screen mt-20 flex flex-col items-center">
    <section class="w-full bg-[url('/images/hero.png')] bg-cover bg-bottom h-[400px] lg:h-[600px] flex items-center justify-center pl-6 -z-30 md:pl-10">
      <div class="max-w-screen-2xl w-full relative -z-20">
        <div class="flex flex-col gap-7">
          <div class="text-white flex text-3xl md:text-5xl">
            <div class="bg-gradient-to-b from-orange-400 to-red-600 w-2 h-10 absolute -left-4 top-2"></div>
            <h1>Saboreie a alegria em <br> Cada <spam class="text-orange-500">Mordida</spam>!</h1>
          </div>
          <div class="text-stone-400 ">
            <p>Venha se juntar à diversão e deixe-nos <br> surpreendê-lo com nossa magia <br> culinária. O sabor que te faz sorrir!</p>
          </div>
          <div class="flex flex-col">
            <div class="text-stone-400 flex items-center gap-2">
              <div class="bg-gradient-to-b from-orange-400 to-red-600 w-2 h-2 rounded-full "></div>
              <p>Nossos horários:</p>
            </div>
            <p class="text-stone-400 pl-4">Seg a Sex 18:00 - 23:00 <br>
              Sab e Dom 18:00 - 00:00</p>
          </div>
          <div class="flex gap-7 ">
            <button class="hidden md:inline-block border border-red-500 text-white px-8 py-2 rounded-tl-full rounded-tr-full rounded-bl-full">Nosso menu</button>
            <button class="border border-red-500 text-white px-8 py-2 bg-red-500 rounded-tl-full rounded-tr-full rounded-br-full rounded-bl-full md:rounded-bl-none">Pedir agora!</button>
          </div>
        </div>
      </div>
    </section>

    <section class=" h-fit px-5 flex flex-col items-center my-8 gap-5 ">
      <div class="relative -z-10">
        <div class="bg-gradient-to-b from-orange-400 to-red-600 w-1 h-5 absolute -left-2 top-2 "></div>
        <h2 class="text-3xl font-bold">Krusty Ofertas Hoje</h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 max-w-screen-2xl w-full gap-3 lg:gap-6">
        <div class="lanche-item bg-white shadow-xl h-fit rounded-xl p-6 flex flex-col gap-3">
          <div class="lanche-item--img">
            <img class="w-full " src="/images/imgProduto.png" alt="produto oferta">
          </div>
          <div>
            <h3 class="lanche-item--title font-bold text-xl">--</h3>
            <p class="lanche-item--desc text-gray-500">--</p>
          </div>
          <div class="flex justify-between items-center">
            <span class="lanche-item--price text-teal-500 font-bold text-3xl">R$ --</span>
            <a class="cursor-pointer px-8 py-2 bg-orange-500 text-white font-semibold uppercase rounded-full" href="#">adicionar</a>
          </div>
        </div>
      </div>
    </section>

  </main>